<footer>
    <ul class="footer-menu">
      <li><%= link_to t("dictionary.footer.home"), root_path %></li>
      <li><%= link_to t("dictionary.footer.contact"), new_contact_path %></li>
      <li><%= link_to t("dictionary.footer.terms"), terms_path %></li>
      <li><%= link_to t("dictionary.footer.privacy"), privacy_path %></li>
    </ul>
    <p class="copyright">&copy; Daichi Hayasaka All Rights Reserved.</p>
  </footer>
