<p>以下のリンクよりパスワードの再設定を行ってください。</p>

<%= link_to edit_password_reset_url(@user.reset_token, email: @user.email, locale: I18n.locale),
                  edit_password_reset_url(@user.reset_token, email: @user.email, locale: I18n.locale) %>

<p>リンクの有効期限は2時間ですので、ご注意ください。</p>
