<p>5Keepsのお問い合わせフォームから、メッセージが送信されました。</p>

<ul>
  <li>
    <p>Name:</p>
    <%= @contact.name %>
  </li>
  <li>
    <p>Email:</p>
    <%= @contact.email %>
  </li>
  <li>
    <p>Message:</p>
    <%= @contact.message %>
  </li>
</ul>
